@use '../abstracts/' as *;

button a {
  &:active,
  &:visited {
    color: white;
  }
}

button:hover {
  cursor: pointer;
}

button:active {
  transform: scale(0.9);
}

.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;

  .btn {
    padding: 0.6rem 1.2rem;
    border-radius: 13rem;
    color: #fff;

    i {
      margin-right: 0.4rem;
    }

    &-add {
      background-color: hsl(123, 96%, 40%);
      transition: all 0.2s linear;

      &:hover {
        background-color: hsl(123, 96%, 45%);
      }
    }

    &-delete {
      background-color: hsl(0, 99%, 46%);
      color: #fff;
      transition: all 0.2s linear;
    }
  }
}

.section-table {
  &__action {
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    align-items: center;
  }

  button {
    padding: 0.2rem 0.8rem;
    border-radius: 12rem;
    border-width: 1px;
    border-style: solid;
  }

  &__btn-gap {
    width: 2px;
    height: 1.7rem;
    background-color: #ddd;
  }

  &__edit {
    border-color: hsl(158, 75%, 45%);
    color: hsl(158, 75%, 45%);

    a:active,
    a:visited {
      color: hsl(158, 75%, 45%);
      background-color: hsl(158, 75%, 45%);
    }
  }

  &__delete {
    background-color: hsl(0, 99%, 46%);
    color: #fff;
  }
}

.form {
  &-btn {
    display: flex;
    justify-content: flex-end;

    &__add,
    &__update {
      padding: 0.8rem 1.3rem;
      margin-left: auto;
      border-radius: 13rem;
      color: #fff;
    }

    &__add {
      background-color: hsl(123, 96%, 40%);
      transition: all 0.2s linear;

      &:hover {
        background-color: hsl(123, 96%, 45%);
      }
    }

    &__update {
      background-color: hsl(158, 75%, 45%);
      transition: all 0.2s linear;

      &:hover {
        background-color: hsl(158, 78%, 39%);
      }
    }
  }

  &__back {
    width: 7rem;
    min-height: 2.5rem;
    border-radius: 10rem;
    background-color: transparent;
    font-size: 5rem;
    text-shadow: 0px 7px 10px #01010a;
    cursor: pointer;
    border: none;
    outline: none;

    a,
    a:active,
    a:visited {
      color: $clr-accent-primary;
    }
  }
}
