@use '../abstracts/' as *;

button:hover {
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8rem;

  .btn {
    padding: 0.6rem 1.2rem;
    border-radius: 13rem;
    color: #fff;

    i {
      margin-right: 0.4rem;
    }

    &-refresh {
      margin-right: auto;
      background-color: hsl(188, 83%, 43%);
      transition: all 0.2s linear;

      &:hover {
        background-color: hsl(188, 95%, 33%);
      }
    }

    &-add {
      background-color: hsl(123, 96%, 40%);
      transition: all 0.2s linear;

      &:hover {
        background-color: hsl(123, 96%, 45%);
      }
    }

    &-delete {
      background-color: hsl(0, 99%, 46%);
      color: #fff;
      transition: all 0.2s linear;
    }
  }
}

.action {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;

  button {
    padding: 0.2rem 0.8rem;
    border-radius: 12rem;
    border-width: 1px;
    border-style: solid;
  }

  &-gap {
    width: 2px;
    height: 1.7rem;
    background-color: #ddd;
  }

  &-edit {
    border-color: hsl(158, 75%, 45%);
    color: hsl(158, 75%, 45%);
  }

  &-delete {
    background-color: hsl(0, 99%, 46%);
    color: #fff;
  }
}

.modal {
  &-btn {
    margin: 2.5rem 0 1rem;
    display: flex;
    justify-content: flex-end;
  }

  &-add,
  &-add-more,
  &-update {
    padding: 0.6rem 1.2rem;
    margin-left: auto;
    border-radius: 13rem;
    color: #fff;
  }

  &-add,
  &-add-more {
    background-color: hsl(123, 96%, 40%);
    transition: all 0.2s linear;

    &:hover {
      background-color: hsl(123, 96%, 45%);
    }
  }

  &-update {
    background-color: hsl(158, 75%, 45%);
    transition: all 0.2s linear;

    &:hover {
      background-color: hsl(158, 78%, 39%);
    }
  }
}
