.modal {
  &-warning {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.5);

    &__card {
      width: min(95%, 20rem);
      margin: 6rem auto;
      padding-top: 1.5rem;
      background-color: white;
      box-shadow: 2px 8px 18px 6px #222;
      border-radius: 12px;
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    i {
      color: red;
      font-size: 6rem;
      margin-bottom: 1.3rem;
    }

    &__header {
      color: black;
      font-size: 1.3rem;
      font-weight: 600;
      letter-spacing: 1px;
      margin-bottom: 0.8rem;
    }

    &__text {
      width: 85%;
      margin-bottom: 1.5rem;
      color: #444;
      font-size: 0.9rem;
    }

    &__btn {
      display: flex;
      flex-direction: row;
      width: 100%;

      button {
        width: 50%;
        padding: 0.8rem 0;
        font-size: 0.9rem;
        font-weight: 200;

        &:first-of-type {
          background-color: grey;
          color: black;
          border-bottom-left-radius: 12px;
        }

        &:last-of-type {
          background-color: red;
          color: white;
          border-bottom-right-radius: 12px;
        }

        &:active {
          transform: scale(1);
        }
      }
    }
  }
}
