@use '../abstracts/' as *;

//Hidden by default
.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.5);

  &__card {
    display: flex;
    flex-direction: column;
    padding: 0.4rem 2rem;
    margin: 3rem auto 0;
    width: min(90%, 28rem);
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    border-top: 5px solid $clr-accent-primary;
    box-shadow: 0px 5px 15px 0px hsla(0, 0%, 0%, 0.7);
  }

  &__close {
    align-self: flex-end;
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    background: transparent;
    font-size: 2.5rem;
    font-weight: lighter;
    color: hsl(0, 100%, 50%);
    cursor: pointer;
    border: none;
    outline: none;
  }

  &__form {
    width: min(95%, 22rem);
  }

  .even-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }

  &__inputs {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 2.1rem;
    //outline: 1px solid red;
  }

  &__input-placeholder {
    position: absolute;
    top: 0.8rem;
    left: 0.5rem;
    color: hsl(0, 0%, 53%);

    transition: top 0.2s ease, left 0.2s ease, color 0.2s ease, font-size 0.2s ease;
  }

  &__input-outline {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: $clr-accent-primary;
    transform: scaleX(0.1);
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  &__input {
    width: 100%;
    padding: 0.9rem 0.5rem 0.4rem;
    background: hsl(0, 0%, 97%);
    color: hsl(0, 0%, 0%);
    border: none;
    border-bottom: 1px solid hsl(0, 0%, 70%);
    border-radius: 5px 5px 0 0;
    appearance: none;
    //outline: 1px solid red;
    outline: none;

    &:focus + .modal__input-placeholder,
    &:valid + .modal__input-placeholder {
      top: -0.95rem;
      left: 0.3rem;
      font-size: smaller;
      color: $clr-accent-primary;
    }

    &:focus ~ .modal__input-outline {
      opacity: 1;
      transform: scaleX(1);
      transform-origin: center;
    }
  }
}
