@use '../abstracts/' as *;

.section {
  &-cta {
    margin-bottom: 1.5rem;
  }

  &-table {
    table {
      width: 97%;
      margin: 0 auto;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
    }

    th {
      background-color: $clr-accent-primary;
      color: #fff;
    }

    th,
    td {
      padding: 0.7rem;
      text-align: left;
      word-wrap: break-word;
    }

    tr {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: #efefef;
    }
  }
}

.message {
  width: 97%;
  margin: 0 auto;

  p {
    padding: 0.6rem;
    font-size: 1rem;
  }

  &__insert {
    background-color: hsl(191, 88%, 90%);

    p {
      color: hsl(152, 69%, 19%);
    }
  }

  &__required {
    background-color: hsl(355, 70%, 91%);

    p {
      color: #8f313a;
    }
  }
}
