@use '../abstracts/' as *;

.section {
  &-cta {
    margin-bottom: 1rem;
  }

  &-table {
    table {
      width: 97%;
      margin: 0 auto 5rem;
      border-collapse: collapse;
      border-spacing: 0;
      border: 1px solid #ddd;
    }

    th {
      background-color: $clr-accent-primary;
      color: #fff;
    }

    th,
    td {
      padding: 0.7rem;
      text-align: left;
      word-wrap: break-word;
    }

    tr {
      background-color: #fff;
    }

    tr:nth-child(even) {
      background-color: #efefef;
    }
  }
}
