h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

h2 {
  margin-bottom: 2.3rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.header {
  &__notify {
    font-size: 1.2rem;

    &::after {
      font-size: 0.5rem;
    }
  }

  &__user {
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: capitalize;
  }

  &__icon {
    font-size: 1rem;
  }
}

.section-table__action {
  font-size: 1rem;
}

.modal {
  &__inputs {
    font-size: 0.9rem;
  }

  &__placeholder {
    font-size: 0.9rem;
  }

  &__input {
    font-size: 0.9rem;
  }
}
